body {
  background-color: #eee;
}

.container {
  margin: 30px 30px;
}

.professor {
  font-size: 14px;
  margin: 15px 0px;
}

select {
  font-size: 16px;
}

input[type="submit"] {
  font-size: 16px;
}
